<div class="center" *ngIf="onChargement()">
  <mat-spinner color="accent"></mat-spinner>
</div>
<mat-toolbar class="center">
  <button mat-icon-button class="example-icon" title="Mode Jour" aria-label="Example icon-button with menu icon">
    <mat-icon>tips_and_updates</mat-icon>

  </button>
  <button (click)="changerVue()" mat-icon-button class="example-icon" title="Mode Jour" aria-label="Example icon-button with menu icon">
    <mat-icon>view_module</mat-icon>
  </button>
  <a (click)="refleshItems()">
    <span *ngIf="!isMobile">{{defaultChannel.title | titlecase}}</span>
    <span *ngIf="isMobile">{{getShortTitle(defaultChannel.title) | titlecase}}</span>

  </a>

  <span class="example-spacer"></span>
  <button title="Récuperer les nouveaux articles ." (click)="refleshItems()" mat-button id="btn_refresh" color="accent"
          matBadgeColor="primary"
          matBadge="{{pages?.totalElements}}"
          aria-label="Recuperer les nouveaux articles .">
    <mat-icon>refresh</mat-icon>
  </button>

</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="space-around none">


  <div fxFlex="90" style="height: 300px">
    <!--fxLaylout-->
    <div class="content">

      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/nombreColonneDefault) + '%'" fxFlex.xs="100%" fxFlex.md="33%"   fxFlex.sm="50%"
             class="item-card" *ngFor="let item of items">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <mat-card-title>{{item.title}}</mat-card-title>
              <mat-card-subtitle> Publié le {{ item.pubDate | date : 'd MMMM yyyy à HH:mm:ss' }} </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="item.imageUrl" [alt]="item.title">
            <mat-card-content>
              <p>
                {{item.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <div class="card-buttons">
                <a mat-raised-button color="accent" class="text-bold btn-voir" href="{{ item.link}}" target="_blank"
                   rel="noopener noreferrer">
                  <span *ngIf="!isMobile"> Voir l'article</span>
                  <mat-icon>arrow_forward</mat-icon>
                </a>
                <a mat-raised-button aria-hidden="false" class="text-bold btn-edit" (click)="openDialog(item)"
                   aria-label="Modifier le titre" title="Modifier le titre ou l'extrait ." color="accent">
                  <span *ngIf="!isMobile">  Modifier </span>
                  <mat-icon>
                    launch
                  </mat-icon>
                </a>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <!--fxLaylout end-->




    <mat-card-actions>
      <!--    pagination-->
      <div class="center" *ngIf="!isMobile">
        <button mat-button *ngIf="!isMobile" [disabled]="pages.number <= 0" (click)="chargerPrevPage()">
          Précédente
        </button>
        <span *ngFor="let p of paginatorBuilder() let c = index">
        <button mat-button [ngClass]=" pages?.number == c? 'c_active' : 'c_disabled'"
                (click)="chargerPageByNum(c,size)">{{c + 1}}</button>
      </span>
        <button mat-button *ngIf="pages.number >=2" [disabled]="checkFin() " (click)="chargerPrevPage()">..
        </button>
        <button class="c_active" mat-button [disabled]="checkFin() " *ngIf="pages.number >=3"
                (click)="chargerNextPage()"> {{pages.number + 1 }}</button>


        <button mat-button *ngIf="pages.number >=2" [disabled]="checkFin() "
                (click)="chargerNextPage()">{{pages.number + 2}}</button>

        <button mat-button [disabled]="checkFin() " (click)="chargerNextPage()">Suivante</button>


      </div>
      <!--    Pagination for mobile-->
      <div class="center" *ngIf="isMobile">
        <button mat-button [disabled]="pages.number <= 0" (click)="chargerPrevPage()">
          <mat-icon>arrow_backward</mat-icon>
        </button>
        <button mat-button class="c_active" color="accent"> {{pages.number + 1}} </button>
        <button mat-button [disabled]="checkFin() " (click)="chargerNextPage()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
      <!--    for mobile end-->
      <!--    pagination end-->
    </mat-card-actions>
  </div>

</div>
