#btn_refresh{
  margin : 10px;
}
.c_active{
  color : yellow;
  font-weight : bold;
  background: gray;
}
.center {
  display: flex;
  justify-content: center;
}
.image-container {
  display: flex;
  justify-content: center;
}
.one-item-card{
  margin-top: 26px;
}
.item-card{
  margin-top: 26px;
}
.text-bold{
  font-weight : bold ;
}
