<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title class="my-head">

      <div class="my-head-inner">
        <button id="btn_refresh" color="accent" (click)="refleshItems()" mat-mini-fab matBadgeColor="primary"
                matBadge="{{pages?.totalElements}}"
                aria-label="Recuperer les nouveaux articles .">

          <mat-icon>refresh</mat-icon>
        </button>
        <a mat-button href="https://www.lemonde.fr/rss/en_continu.xml" target="_blank">Flux Rss le monde</a>


      </div>

    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!--  all-items-->
    <div class="item-card" *ngFor="let item of items">

      <mat-card class="one-item-card">
        <mat-card-header>
          <mat-card-title class="text-bold">

             {{ item.title | titlecase }}.


            <a mat-button title="Modifier le titre ou l'extrait ." color="accent"    >
              <mat-icon aria-hidden="false" (click)="openDialog(item)" color="accent" aria-label="Modifier le titre">edit</mat-icon></a>
          </mat-card-title>
          <mat-card-subtitle> Publié le {{ item.pubDate | date : 'd MMMM yyyy à HH:mm:ss' }} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="item.imageUrl" [alt]="item.title">
        <mat-card-content>
          <p>
            {{ item.description  }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="accent"  class="text-bold"   target="_blank" href="{{ item.link}}"> Voir l'article  <mat-icon>arrow_forward</mat-icon></a>
        </mat-card-actions>
      </mat-card>
    </div>

    <!--  all-items end -->

  </mat-card-content>

  <mat-card-actions>
    <!--    pagination-->

    <div class="center">

      <button mat-button   [disabled]="pages?.number == 1" (click)="chargerPrevPage()">
        Présente
      </button>
      <span *ngFor="let p of paginatorBuilder() let c = index">
        <button mat-button  [ngClass]=" pages?.number == c? 'c_active' : 'c_disabled'" (click)="chargerPageByNum(c,size)">{{c }}</button>
      </span>
      <button mat-button  [disabled]="checkFin() " *ngIf="pages.number >=3" (click)="chargerPrevPage()"> ..</button>
      <button class="c_active" mat-button  [disabled]="checkFin() " *ngIf="pages.number >=3" (click)="chargerNextPage()"> {{pages.number }}</button>
      <button mat-button  [disabled]="checkFin() " (click)="chargerNextPage()"> Suivante</button>

    </div>
    <div class="row center">Page courante : {{pages?.number}} | Nombre de Page totale : {{pages?.totalPages}}</div>


    <!--    pagination end-->

  </mat-card-actions>
</mat-card>
