
.c_active {
  color: yellow;
  font-weight: bold;
  background: gray;
}

//
.image-container {
  display: flex;
  justify-content: center;
}

//
.text-bold {
  font-weight: bold;
}

//
img {
  border-bottom: 4px solid #ffd740
}

mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}
