/* You can add global styles to this file, and also import other style files */

html, body {
  height: 90%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//#contenue {
//  margin-right: auto;
//  margin-left: auto;
//  max-width: 900px;
//}
.center {
  display: flex;
  justify-content: center;
}
